

:root {
    --fond-site: #FDF5E6;
    --rouge-clair: #F08080;
    --rouge-bouton-hover: #CD5C5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fond-site);
}

/* <---------- HEADER ----------> */

header {
    height: 100vh;
    text-align: center;
}

header h1 {
    background-color: var(--rouge-clair);
    padding: 10px 0;
}


/* <---------- MAIN ----------> */

/* <---------- MEMORY CARD ----------> */

#memoryCard {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#plateauCard {
    padding: 1rem;
    width: 35%;
    height: 80%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);

    transition: transform 0.6s ease, background-color 0.3s ease;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card::before, .card::after {
    backface-visibility: hidden;
}

.matched {
    visibility: hidden;
}

#score {
    padding: 20px;
    width: 30%;
    border: 2px solid black;
    text-align: center;
    font-size: 1.3em;
}

#restart {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--rouge-clair);
    transition: background 0.3s ease;
}

#restart:hover {
    background-color: var(--rouge-bouton-hover);
}


/* <---------- CALCULATRICE ----------> */

#calculatrice {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zoneCalculatrice {
    width: 30%;
    height: 80%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

#affichage {
    background-color: var(--rouge-clair);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
}

.zoneBouton {
    height: 90%;
    display: flex;
    gap: 1rem;
}

.boutonChiffre {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 100%;
}


.chiffre, #resultat, #reset {
    border: none;
    background-color: var(--rouge-clair);
    color: var(--fond-site);
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.chiffre:hover {
    background-color: var(--rouge-bouton-hover);
}

.boutonOperateur {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}


/* <---------- GESTIONNAIRE ----------> */

#gestionnaire {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zoneGestionnaire {
    width: 70%;
    border: 2px solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#gestionnaire h2 {
    text-align: center;
}

.ligneSaisie {
    display: flex;
    gap: 20px;
}

#saisie {
    flex: 4;
    padding: 0.5rem;
    outline: none;
    border: 1px solid;
    background-color: white;
}

#gesAjouter {
    flex: 1;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: var(--fond-site);
    background-color: rgb(40, 201, 40);
    transition: background-color 0.3s ease;
}

#gesAjouter:hover {
    background-color: rgb(31, 154, 31);
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ligneTaches {
    display: flex;
    gap: 1rem;
}

.ligneTaches p {
    flex: 4;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.ligneTaches button {
    flex: 1;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: var(--fond-site);
    background-color: rgb(216, 58, 58);
    transition: background-color 0.3s ease;
}

.ligneTaches button:hover {
    background-color: rgb(126, 50, 50);
}